@font-face { font-family: "srmts"; src: url("chrome-extension://__MSG_@@extension_id__/ScotchRomanMTStd.otf"); }

.cpa_custom_img_wrapper { width: 110%; height: 100%; }
.cpa_custom_img { height: auto; float: left; display: block; }
.cpa_custom_img_single { position: absolute; top: 0px; left: 0px; z-index: 100; width: auto; height: auto; float: left; display: block; }
.cpa_custom_p { width: 100%; height: auto; font-family: "srmts"; font-size: 20px; color: #FFFFFF; position: absolute; top: 0px; left: 0px; z-index: 101; padding: 10px; box-sizing: border-box; margin: 0;}

.cpa_caption_vignette {
    height: 100%
}
.cpa_caption_vignette.cpa_caption_top {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.cpa_caption_vignette.cpa_caption_bottom {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.cpa_caption_vignette.cpa_caption_middle {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 33%, rgba(0,0,0,0.65) 67%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

iframe[id*=google_ads_iframe_] {
    opacity: 0 !important;
}

iframe[src*=2mdm] {
    opacity: 0 !important;
}

div.ego_unit {
    opacity: 0 !important;
}


